* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  color: white;
}
nav {
  position: absolute;
  padding: 2rem;
  padding-left: 4rem;
}

#MainPage,
#QuestionsPage,
#ResultPage {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    247.02deg,
    #1e3c38 27.2%,
    rgba(0, 147, 187, 0.52) 100.44%
  );
}

#MainPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #MainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      margin: 4rem;
      border-radius: 15px;
    }
    button {
      font-size: 1.8rem;
      color: white;
      background: #275651;
      padding: 1rem 2.5rem;
      border: none;
      border-radius: 10px;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    }
  }
}

#QuestionsPage {
  display: none;
  #QuestionsContent {
    width: 100%;
    padding: 1rem;
    #Questions {
      display: flex;
      flex-direction: column;
      h1 {
        margin-bottom: 1rem;
      }
    }
  }
}

#ResultContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  p {
    width: 50%;
  }
  img {
    margin: 2rem;
    border-radius: 15px;
  }
  button {
    padding: 0.2rem;
    margin: 1.5rem 1rem;
    font-size: 1.5rem;
    color: white;
    background: #d13d3d;
    border-radius: 7px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
#ResultText {
  font-size: 1.2rem;
}

#GetStarted {
  &:hover {
    cursor: pointer;
  }
}

//classes

.answer-btn {
  margin: 1rem 0rem;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.3rem;
  background: #86aba9;
  color: white;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}
// media styling for HomePage

@media screen and (max-width: 900px) {
  #MainContent {
    img {
      height: 65%;
      width: 80%;
    }
  }

  @media screen and (max-width: 685px) {
    #MainContent {
      h1 {
        font-size: 1.6rem;
        padding: 1rem;
      }
    }
  }

  @media screen and (max-width: 450px) {
    #MainContent {
      margin-bottom: 5rem;
      h1 {
        padding-left: 3rem;
      }
      img {
        width: 90%;
      }
    }
  }
  @media screen and (max-width: 350px) {
    #MainContent {
      h1 {
        margin-top: 7rem;
        font-size: 1.2rem;
      }
    }
  }
}
// media styling for QuestionsPage

@media screen and (max-width: 750px) {
  #QuestionsContent {
    margin-bottom: 3rem;
    h1 {
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 525px) {
    #QuestionsContent {
      h1 {
        font-size: 1.2rem;
        margin-top: 5rem;
      }
    }
  }
  @media screen and (max-width: 375px) {
    .answer-btn {
      margin: 0.5rem;
    }
    .flex-end {
      padding-top: 2rem;
    }
  }
}

//<--- media styling for ResultContent --->

@media screen and (max-width: 1150px) {
  #ResultContent {
    p {
      width: 62%;
    }
  }

  @media screen and (max-width: 1000px) {
    #ResultContent {
      p {
        width: 68%;
      }
    }
  }
  @media screen and (max-width: 900px) {
    #ResultContent {
      img {
        height: 80%;
        width: 80%;
      }
      p {
        width: 76%;
      }
    }
  }
  @media screen and (max-width: 810px) {
    #ResultContent {
      img {
        height: 40%;
        width: 90%;
      }
    }
  }

  @media screen and (max-width: 800px) {
    #ResultContent {
      img {
        height: 48%;
        width: 91%;
      }
      p {
        width: 76%;
      }
    }
  }
  @media screen and (max-width: 650px) {
    #ResultContent {
      img {
        height: 33%;
        width: 85%;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  @media screen and (max-width: 550px) {
    #ResultContent {
      img {
        height: 28%;
        width: 80%;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  @media screen and (max-width: 500px) {
    #ResultContent {
      img {
        height: 27%;
        width: 90%;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  @media screen and (max-width: 425px) {
    #ResultContent {
      h1 {
        padding: 1rem;
      }
      img {
        height: 26%;
        width: 95%;
      }
      p {
        font-size: 0.7rem;
        width: 91%;
      }
    }

    @media screen and (max-width: 325px) {
    }
    nav {
      padding: 3rem;
      padding-left: 5.5rem;
    }
    #ResultContent {
      img {
        height: 22%;
        width: 96%;
      }
      p {
        width: 92%;
      }
    }
  }
}

// @media screen and (max-width: px) {}
