* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  color: white;
}
nav {
  position: absolute;
  padding: 2rem;
  padding-left: 4rem;
}

#MainPage,
#QuestionsPage,
#ResultPage {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    247.02deg,
    #1e3c38 27.2%,
    rgba(0, 147, 187, 0.52) 100.44%
  );
}

#MainPage {
  height: 100vh;
  display: none; //change this back!
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #MainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      margin: 2rem;
      border-radius: 15px;
    }
    button {
      font-size: 1.8rem;
      color: white;
      background: #275651;
      padding: 1rem 2.5rem;
      border: none;
      border-radius: 10px;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    }
  }
}

#QuestionsPage {
  display: none;
  #QuestionsContent {
    width: 50%;
    #Questions {
      display: flex;
      flex-direction: column;
      h1 {
        margin-bottom: 1rem;
      }
      button {
        margin: 1rem 0rem;
        padding: 0.8rem;
        border-radius: 10px;
        font-size: 1.5rem;
        background: #86aba9;
        color: white;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#ResultPage {
  display: flex;
}

#GetStarted {
  &:hover {
    cursor: pointer;
  }
}
//classes

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}
