* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  color: white;
}

nav {
  position: absolute;
  padding: 2rem;
  padding-left: 4rem;
}

#MainPage,
#QuestionsPage,
#ResultPage {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(247.02deg, #1e3c38 27.2%, rgba(0, 147, 187, 0.52) 100.44%);
}

#MainPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#MainPage #MainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#MainPage #MainContent img {
  margin: 2rem;
  border-radius: 15px;
}
#MainPage #MainContent button {
  font-size: 1.8rem;
  color: white;
  background: #275651;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

#QuestionsPage {
  display: none;
}
#QuestionsPage #QuestionsContent {
  width: 50%;
}
#QuestionsPage #QuestionsContent #Questions {
  display: flex;
  flex-direction: column;
}
#QuestionsPage #QuestionsContent #Questions h1 {
  margin-bottom: 1rem;
}
#QuestionsPage #QuestionsContent #Questions button {
  margin: 1rem 0rem;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.5rem;
  background: #86aba9;
  color: white;
  border: none;
}
#QuestionsPage #QuestionsContent #Questions button:hover {
  cursor: pointer;
}

#ResultContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#ResultContent p {
  width: 50%;
}
#ResultContent img {
  margin: 2rem;
  border-radius: 15px;
}
#ResultContent button {
  padding: 0.2rem;
  margin: 1.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  background: #d13d3d;
  border-radius: 7px;
  border: none;
}
#ResultContent button:hover {
  cursor: pointer;
}

#ResultText {
  font-size: 1.2rem;
}

#GetStarted:hover {
  cursor: pointer;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 1150px) {
  #ResultContent p {
    width: 62%;
  }
}
@media screen and (max-width: 1150px) and (max-width: 1000px) {
  #ResultContent p {
    width: 68%;
  }
}
@media screen and (max-width: 1150px) and (max-width: 900px) {
  #ResultContent img {
    height: 80%;
    width: 80%;
  }
  #ResultContent p {
    width: 76%;
  }
}
@media screen and (max-width: 1150px) and (max-width: 810px) {
  #ResultContent img {
    height: 40%;
    width: 90%;
  }
}
@media screen and (max-width: 1150px) and (max-width: 800px) {
  #ResultContent img {
    height: 48%;
    width: 91%;
  }
  #ResultContent p {
    width: 76%;
  }
}
@media screen and (max-width: 1150px) and (max-width: 650px) {
  #ResultContent img {
    height: 33%;
    width: 85%;
  }
  #ResultContent p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1150px) and (max-width: 550px) {
  #ResultContent img {
    height: 28%;
    width: 80%;
  }
  #ResultContent p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1150px) and (max-width: 500px) {
  #ResultContent img {
    height: 27%;
    width: 90%;
  }
  #ResultContent p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1150px) and (max-width: 425px) {
  #ResultContent img {
    height: 26%;
    width: 95%;
  }
  #ResultContent p {
    font-size: 0.7rem;
    width: 91%;
  }

  nav {
    padding: 3rem;
    padding-left: 5.5rem;
  }

  #ResultContent img {
    height: 22%;
    width: 96%;
  }
  #ResultContent p {
    width: 92%;
  }
}/*# sourceMappingURL=Main.css.map */